:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.shadow {
  box-shadow:
    inset 0 -1em 1em rgb(0 0 0 / 30%),
    0 0 0 2px #1dB954,
    0.3em 0.3em 1em rgb(0 0 0 / 0%);
}

.top-bar {
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 6px 0px 18px 0px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  height: 2vh;
}

.player {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 8vh;
  background-color: #1e1e1e;
  width: 100%;
  color: white;
}

.col-3 {
  display: flex;
  width: 100%;
  height: 84vh;
  justify-content: space-between;
}

.col-3-container {
  padding: 16px;
  padding-right: 16px;
  margin: 8px;
  border-radius: 16px;
  background-color: #1e1e1e;
  color: white;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 8px;
}

.left-sidebar {
  width: 20%;
}

.middle-container {
  flex: 1;
}

.right-sidebar {
  width: 20%;
}

.scroll h2 {
  margin: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #b3b3b3;
}

.scroll h3 {
  margin: 0.3em;
  padding-left: 1em;
}

.right-sidebar h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #b3b3b3;
}

.container {
  position: relative;
  display: inline-block;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  position: relative;
}

.menu-item {
  cursor: pointer;
  padding: 3px 0;
}

.menu-item.active {

}

.underline {
  position: absolute;
  bottom: -16px;
  height: 2px;
  background-color: #1db954;
  transition: left 0.3s ease, width 0.3s ease;
  pointer-events: none;
}
